{{- /* install-go-executables.html */ -}}
## Install go executables

```bash
go install github.com/satoseino/cli-toolkit/cmd/toolkit@latest
go install github.com/satoseino/cli-toolkit/cmd/toolkit-assume-role@latest
go install github.com/satoseino/cli-toolkit/cmd/toolkit-serve-static@latest
go install github.com/satoseino/cli-toolkit/cmd/toolkit-show-md@latest
go install mvdan.cc/sh/v3/cmd/shfmt@latest
go install golang.org/x/tools/cmd/godoc@latest
go install golang.org/x/pkgsite
go install github.com/air-verse/air@latest
```
