{{- /* setup-gpg.html — param: install (the package manager install command) */ -}}
## Set up GPG to sign git commits

Install `gnupg` and `pinentry-mac`. The former is the GPG software while the latter is a GUI for prompting for passphrases.

```bash
{{ .Get "install" }}
echo "pinentry-program $(which pinentry-mac)" >>  ~/.gnupg/gpg-agent.conf
```

Restart `gpg-agent`.

```bash
gpg-connect-agent reloadagent /bye
```

Enter GPG interactive mode by `gpg --card-edit`, and then enter the `fetch` and `quit` command in order.
The outputs would be something like below.

```
gpg/card> fetch
gpg: requesting key from 'https://github.com/satoseino.gpg'
gpg: key C9EED408F4B6D021: "Sato Seinosuke (satoseino.github.io) <kent.xue@ascendingdc.com>" not changed
gpg: Total number processed: 1
gpg:              unchanged: 1

gpg/card> quit
```

Then use `gpg --list-secret-keys` to confirm that the keys have been fetched.
The outputs should be something like below.

```
[keyboxd]
---------
sec>  rsa4096 2025-12-24 [SC]
      5EF2BE73370DCE7E808814DBC9EED408F4B6D021
      Card serial no. = 0006 27538718
uid           [ unknown] Sato Seinosuke (satoseino.github.io) <kent.xue@ascendingdc.com>
ssb>  rsa4096 2025-12-24 [E]
```
